@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="d-flex d-md-none bottom-nav">
            @foreach (var tab in Tabs)
            {
                <button class="@TabClass(tab.Url)" @onclick="@(() => OnTabClick(tab))">
                    <span class="bottom-nav-icon-wrap">
                        @if (tab.Emoji is not null)
                        {
                            <span class="bottom-nav-emoji">@tab.Emoji</span>
                        }
                        else
                        {
                            <MudIcon Icon="@tab.Icon" Size="Size.Small" Style="@($"color:{tab.Color}")" />
                        }
                    </span>
                    <span class="bottom-nav-label">@tab.Label</span>
                </button>
            }
        </div>

        <SideDrawer IsOpen="_drawerOpen" OnClose="@(() => { _drawerOpen = false; StateHasChanged(); })" />
    </Authorized>
</AuthorizeView>
